/****** General ***********/
* {
    font-family: 'Raleway', sans-serif; 
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    color: black;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;   
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**** HEADER ****/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav_menu {
    display: flex;
    justify-content: flex-end;
    gap: 68px;
}

.nav_hebergements {
    margin-top: 16px;
    display: flex;
    align-items: flex-end;
}

.nav_activites {
    margin-top: 16px;
    display: flex;
    align-items: flex-end;
}

.blueline:hover {
    color: #0065FC;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #0065FC;  
}

.blueline2:hover{
    color: #0065FC;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #0065FC;  
}

.nav_logo img {
    width: 61.09px;
    height: 19px;
}

.nav_logo { 
    width: 161.09px;
    height: 79px;
    gap: 10px;
    display: flex;
    align-items: center;
}

/**** Titre Principal ****/

.titrePrincipal {
    gap: 8px;
    margin-bottom: 35px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

.titrePrincipal p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

/**** Barre de recherche ****/

.searchBar {
    border: 1px;
    display: flex;
    margin-bottom: 35px;
}

.searchBar .fa-location-dot {
    color: black;
}

.iconSearchBar {
    width: 50px;
    height: 49px;
    border: solid;
    border-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.placeSearchBar {
    height: 49px;
    border: solid;
    border-right: none;
    border-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ville {
    width: 147px;
    height: 21px;
    padding: 14px 20px 14px 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    outline: none;
    border: none;
}

.searchButton {
    width: 132px;
    height: 49px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #0065FC;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.button {
    border-style: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 14px 16px 14px 16px;
    background-color: #0065FC;
    cursor: pointer;
}

.searchButtonText {
    width: 100px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;   
    color: white; 
}

.fa-magnifying-glass {
    display: none;
}

/**** Filtres *****/

.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    gap: 15px;
}

.subtitlePolicy {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

.boxFilter {
    height: 50px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: #d9d9d9;
    background-color: white;
}

.sizetextFilter {
    font-size: 17px;
    font-weight: 700;   
}

.filter .icon2 {
    font-size: 22px;
    padding-right: 10px;
    position: relative;
    top: 2px;
    color: #0065FC;
}

.boxFilter:hover {
    background-color: #DEEBFF;
}

/****** Informations *****/

.information {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.information p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
} 

.fa-info {
    font-size: 10px;
    color: #0065FC;
    display: flex;
}

.iconInformation {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #F2F2F2;
    border-radius: 50%;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.trioTopHebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.trioBottomHebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.titreHebergement{ 
    margin: 0px;
    margin-bottom: 30px;
}

.cardHebergement { 
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    padding-bottom: 15px;
}

.imgHebergement {
    border: 5px solid;
    border-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 124px;
    box-sizing: border-box;
}

.hebergements .card-title {
    font-size: 16px;
    margin: 0px 0px 8px 0px
    
}

.hebergements .card-subtitle {
   font-size: 14px;
   margin: 4px 0px 8px 0px
}

.hebergements .container {
    margin-top: 4px;
    padding-left: 15px;
}

.fa-solid {
    font-size: 14px;
    color: #0065FC;
}

.neutral-star {
    color: #F2F2F2;
}

.hebergements .card-rating {
    display: flex;
    align-items: center;
    margin-top: 8px;   
}

.voirplus {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites A Marseille ****/

.activite {
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.activite .subtitlePolicy {
    margin-top: 0px;
}

.activite h1 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.cardActivity {
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 100%;
    max-width: 300px;
    margin-bottom: 0px;
    border-radius: 20px;
}

.activityCardLink {
    flex: 1;
}

.imgActivity {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
}

.activite .card-title {
    padding-left: 19px;
}

.quatuor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    box-sizing: border-box;
}

/****** Footer *******/

.basdepage {
    width: 100%;
    height: 163px;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    padding-top: 10px;
}

.apropos {
    width: 446.67px;
    height: 163px;
    padding-left: 20px;
}

.noshebergements {
    width: 446.67px;
    height: 163px;
}

.assistance {
    width: 446.67px;
    height: 163px;
}

.basdepage p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) { 

    /*** Filtre ****/

    .filter {
        gap: 0px 15px;
        margin-bottom: 35px;
    }

    .filter .subtitlePolicy {
        margin-top: 0px;
        flex: 1 1 100%; 
    }

    .filter .boxFilter {
        height: 50px;
    }

    /**** Information ***/

    .information p {
    
        margin: 0px;
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*** Activite ****/

    .cardActivity {
        height: 100%; /*en pourcentage pour eviter le debordement lors des changements de tailles*/ 
    }

    .activite .imgActivity {
        height: 200px;
    }

    .activite .card-title {
        margin-top: 14px;
    }

    .activite .titrePosition {
        margin-top: 22px /*ajustement de la postion du titrePrincipal mannuellement*/
    }
}
    
/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 767.98px) {
    /* ... */

    html, body {
      overflow-x: hidden;  /* permettre affichage plein écran en version mobile */
    }

    .main-container {
        width: 100%;
        padding: 0px;
    }

    /*** Header ****/

    header {
        display: flex;
        flex-direction: column;
    }

    .nav_logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav_menu {
        width: 100%;
        height: 36px;
        gap: 0px;
    }

    .blueline, .blueline2 {
        width: 100%;
    }

    .nav_hebergements {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 16px;
    }
    
    .nav_activites {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 16px;
    }   

    .blueline:hover {
        color: #0065FC;
        border-top: none;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #0065FC;  
    }
    
    .blueline2:hover{
        color: #0065FC;
        border-top: none;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #0065FC;  
    }

    /**** Titre Principal****/

    .titrePrincipal {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*** Barre de recherche ***/
    
    .searchBar {
        height: 49px;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid;
        border-color: #F2F2F2;
        border-radius: 20px;
    }

    .searchBar .iconSearchBar {
        border: none;
    }

    .placeSearchBar {
        flex: 1;
        border: none;
    }

    .placeSearchBar input {
        width: 100%;   
    }
    
    .searchButton {
        width: 49px;
        height: 49px;
        border: none;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
        margin-top: -0.5px; 
        padding-bottom: 1px;
    }
    
    .button {
        width: 100%;
        height: 100%;
        border: solid;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #0065FC;
        border-radius: 15px;
        cursor: pointer;
    }

    .searchButtonText {
        display: none;
    }
    
    .fa-magnifying-glass { 
        font-size: 17px;
        display: block;
        color: white;
    }
   
    /*** Filtre ****/

    .filter {
        margin-left: 20px;
        flex-wrap: wrap;
        gap: 20px 10px;
    }

    .filter .subtitlePolicy {
        margin-bottom: 0px;
    }

    .filter .boxFilter {
        width: 162.5px;
        height: 50px;
    }

    .boxFamille { /**** ajustement de la box famille ****/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 30px;
    }

    .filter .sizetextFilter {
        font-size: 14px;
    }

    .filter .icon2 {
        font-size: 22px;
    }

    /*** Information ***/

    .information {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 35px;
        margin-bottom: 35px; 
    }

    .information p {
        margin: 0px;
    }

    .iconInformation {
        width: 10%;
        max-width: 24px; /* pour eviter la deformation de la bordure */
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires section { 
        border-radius: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;  
    }

    /**** Populaires ****/

    .populaires {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .populaires-cards {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires .card {
       margin-top: 0px;
       margin-bottom: 0px;
    }

    .populaires .card-content {
        padding-right: 15px;
    }
    
    /**** Hebergements ***/

    .hebergements-and-populaires section:nth-of-type(1) { /* cibler l'élément frère d'un meme parent */
        background-color: transparent;
    }

    .trioTopHebergement, .trioBottomHebergement {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        gap: 15px;
    }

    /**** Activites *****/

    .activite .cardActivity {
        width: 100%;
        max-width: 768px;
        height: 200px;
        gap: 15px;
    }

    .activite .imgActivity {
        width: 100%;
        height: 141px;
    }

    .activite .titrePosition {
        margin-top: 16px;
    }

    .activite .activityCardLink {
        width: 100%;
    }

    .quatuor {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /**** Footer ****/

    .basdepage {
        width: 100%;
        height: 461px;
        display: flex;
        flex-direction: column; 
        gap: 20px;
        background-color: var(--main-bg-color)  
    }

    .noshebergements, .assistance {
        padding-left: 20px;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .searchBar {
        width: 90%;
    }
}

